# packages in environment at /Users/suzaki/opt/anaconda3/envs/py37:
#
# Name                    Version                   Build  Channel
absl-py                   0.11.0             pyhd3eb1b0_1  
aiofiles                  0.7.0                    pypi_0    pypi
aniso8601                 7.0.0                    pypi_0    pypi
apispec                   5.1.1                    pypi_0    pypi
apistar                   0.7.2                    pypi_0    pypi
appnope                   0.1.2           py37hecd8cb5_1001  
argon2-cffi               20.1.0                   pypi_0    pypi
astunparse                1.6.3                    pypi_0    pypi
async-generator           1.10                     pypi_0    pypi
attrs                     20.3.0                   pypi_0    pypi
backcall                  0.2.0              pyhd3eb1b0_0  
blas                      1.0                         mkl  
bleach                    3.3.0                    pypi_0    pypi
blobfile                  1.2.5                    pypi_0    pypi
blueprint                 3.4.2                    pypi_0    pypi
ca-certificates           2021.7.5             hecd8cb5_1  
cachetools                4.2.1                    pypi_0    pypi
cerberus                  1.3.4                    pypi_0    pypi
certifi                   2021.5.30        py37hecd8cb5_0  
cffi                      1.14.5                   pypi_0    pypi
chardet                   4.0.0                    pypi_0    pypi
click                     7.1.2                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
dall-e                    0.1                      pypi_0    pypi
decorator                 4.4.2              pyhd3eb1b0_0  
defusedxml                0.7.1                    pypi_0    pypi
dicttoxml                 1.7.4                    pypi_0    pypi
django                    2.2.5                    py37_1  
django-transitions        0.2                      pypi_0    pypi
djangorestframework       3.12.4                   pypi_0    pypi
docopt                    0.6.2                    pypi_0    pypi
entrypoints               0.3                      pypi_0    pypi
filelock                  3.3.0                    pypi_0    pypi
flask                     2.0.1                    pypi_0    pypi
flask-restful             0.3.9                    pypi_0    pypi
flask-sqlalchemy          2.5.1                    pypi_0    pypi
flask-sqlalchemy-session  1.1                      pypi_0    pypi
flatbuffers               1.12                     pypi_0    pypi
fluent-logger             0.10.0                   pypi_0    pypi
gast                      0.3.3                    pypi_0    pypi
google-auth               1.25.0                   pypi_0    pypi
google-auth-oauthlib      0.4.2                    pypi_0    pypi
google-pasta              0.2.0                    pypi_0    pypi
graphene                  2.1.9                    pypi_0    pypi
graphql-core              2.3.2                    pypi_0    pypi
graphql-relay             2.0.1                    pypi_0    pypi
graphql-server-core       2.0.0                    pypi_0    pypi
greenlet                  1.1.1                    pypi_0    pypi
grpcio                    1.32.0                   pypi_0    pypi
h11                       0.12.0                   pypi_0    pypi
h5py                      2.10.0                   pypi_0    pypi
httptools                 0.1.2                    pypi_0    pypi
icu                       58.2                 h0a44026_3  
idna                      2.10                     pypi_0    pypi
imageio                   2.13.3                   pypi_0    pypi
importlib-metadata        3.4.0                    pypi_0    pypi
iniconfig                 1.1.1                    pypi_0    pypi
intel-openmp              2019.4                      233  
ipykernel                 5.3.4            py37h5ca1d4c_0  
ipython                   7.20.0           py37h01d92e1_1  
ipython_genutils          0.2.0              pyhd3eb1b0_1  
ipywidgets                7.6.3                    pypi_0    pypi
itsdangerous              2.0.1                    pypi_0    pypi
jedi                      0.17.2           py37hecd8cb5_1  
jinja2                    3.0.1                    pypi_0    pypi
joblib                    1.0.0                    pypi_0    pypi
jsonschema                3.2.0                    pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-console           6.4.0                    pypi_0    pypi
jupyter_client            6.1.7                      py_0  
jupyter_core              4.7.1            py37hecd8cb5_0  
jupyterlab-pygments       0.1.2                    pypi_0    pypi
jupyterlab-widgets        1.0.0                    pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
kiwisolver                1.3.1                    pypi_0    pypi
libcxx                    10.0.0                        1  
libedit                   3.1.20191231         h1de35cc_1  
libffi                    3.3                  hb1e8313_2  
libiconv                  1.16                 h1de35cc_0  
libsodium                 1.0.18               h1de35cc_0  
libxml2                   2.9.10               h7cdb67c_3  
libxslt                   1.1.34               h83b36ba_0  
lxml                      4.6.2            py37h26b266a_0  
markdown                  3.3.3                    pypi_0    pypi
markupsafe                2.0.1                    pypi_0    pypi
marshmallow               3.13.0                   pypi_0    pypi
marshmallow-sqlalchemy    0.26.1                   pypi_0    pypi
matplotlib                3.3.4                    pypi_0    pypi
memory-profiler           0.58.0                   pypi_0    pypi
mistune                   0.8.4                    pypi_0    pypi
mkl                       2019.4                      233  
mkl-service               2.3.0            py37h9ed2024_0  
mkl_fft                   1.2.0            py37hc64f4ea_0  
mkl_random                1.1.1            py37h959d312_0  
msgpack                   1.0.2                    pypi_0    pypi
mypy                      0.910                    pypi_0    pypi
mypy-extensions           0.4.3                    pypi_0    pypi
mysqlclient               2.0.3                    pypi_0    pypi
nbclient                  0.5.3                    pypi_0    pypi
nbconvert                 6.0.7                    pypi_0    pypi
nbformat                  5.1.3                    pypi_0    pypi
ncurses                   6.2                  h0a44026_1  
nest-asyncio              1.5.1                    pypi_0    pypi
networkx                  2.6.3                    pypi_0    pypi
notebook                  6.3.0                    pypi_0    pypi
numpy                     1.19.2           py37h456fd55_0  
numpy-base                1.19.2           py37hcfb5961_0  
oauthlib                  3.1.0                    pypi_0    pypi
opencv-python             4.1.1.26                 pypi_0    pypi
openssl                   1.1.1k               h9ed2024_0  
opt-einsum                3.3.0                    pypi_0    pypi
packaging                 20.9                     pypi_0    pypi
pandas                    1.2.1                    pypi_0    pypi
pandocfilters             1.4.3                    pypi_0    pypi
parso                     0.7.0                      py_0  
pexpect                   4.8.0              pyhd3eb1b0_3  
pickleshare               0.7.5           pyhd3eb1b0_1003  
pillow                    8.4.0                    pypi_0    pypi
pip                       20.3.3           py37hecd8cb5_0  
pluggy                    1.0.0                    pypi_0    pypi
prometheus-client         0.10.1                   pypi_0    pypi
promise                   2.3                      pypi_0    pypi
prompt-toolkit            3.0.8                      py_0  
protobuf                  3.14.0                   pypi_0    pypi
psutil                    5.8.0                    pypi_0    pypi
psycopg2                  2.8.6                    pypi_0    pypi
ptyprocess                0.7.0              pyhd3eb1b0_2  
py                        1.10.0                   pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycparser                 2.20                     pypi_0    pypi
pycryptodomex             3.10.4                   pypi_0    pypi
pygments                  2.7.4              pyhd3eb1b0_0  
pyparsing                 2.4.7                    pypi_0    pypi
pyrsistent                0.17.3                   pypi_0    pypi
pytest                    6.2.5                    pypi_0    pypi
python                    3.7.9                h26836e1_0  
python-dateutil           2.8.1              pyhd3eb1b0_0  
python-dotenv             0.19.1                   pypi_0    pypi
python-multipart          0.0.5                    pypi_0    pypi
pytz                      2021.1             pyhd3eb1b0_0  
pywavelets                1.2.0                    pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     20.0.0           py37h23ab428_1  
qtconsole                 5.0.3                    pypi_0    pypi
qtpy                      1.9.0                    pypi_0    pypi
readline                  8.1                  h9ed2024_0  
requests                  2.25.1                   pypi_0    pypi
requests-oauthlib         1.3.0                    pypi_0    pypi
requests-toolbelt         0.9.1                    pypi_0    pypi
responder                 2.0.7                    pypi_0    pypi
rfc3986                   1.5.0                    pypi_0    pypi
rsa                       4.7                      pypi_0    pypi
rx                        1.6.1                    pypi_0    pypi
scikit-image              0.19.0                   pypi_0    pypi
scikit-learn              0.24.1                   pypi_0    pypi
scipy                     1.6.0                    pypi_0    pypi
seaborn                   0.11.2                   pypi_0    pypi
send2trash                1.5.0                    pypi_0    pypi
setuptools                52.0.0           py37hecd8cb5_0  
six                       1.15.0           py37hecd8cb5_0  
sqlalchemy                1.4.23                   pypi_0    pypi
sqlite                    3.33.0               hffcf06c_0  
sqlparse                  0.4.1                      py_0  
starlette                 0.13.8                   pypi_0    pypi
tensorboard               2.4.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.0                    pypi_0    pypi
tensorflow                2.4.1                    pypi_0    pypi
tensorflow-estimator      2.4.0                    pypi_0    pypi
termcolor                 1.1.0                    pypi_0    pypi
terminado                 0.9.4                    pypi_0    pypi
testpath                  0.4.4                    pypi_0    pypi
threadpoolctl             2.1.0                    pypi_0    pypi
tifffile                  2021.11.2                pypi_0    pypi
tk                        8.6.10               hb0a8c7a_0  
toml                      0.10.2                   pypi_0    pypi
torch                     1.7.1                    pypi_0    pypi
torchvision               0.8.2                    pypi_0    pypi
tornado                   6.1              py37h9ed2024_0  
tqdm                      4.56.0             pyhd3eb1b0_0  
traitlets                 5.0.5              pyhd3eb1b0_0  
transitions               0.8.8                    pypi_0    pypi
typed-ast                 1.4.3                    pypi_0    pypi
typesystem                0.2.5                    pypi_0    pypi
typing-extensions         3.7.4.3                  pypi_0    pypi
urllib3                   1.26.3                   pypi_0    pypi
uvicorn                   0.13.2                   pypi_0    pypi
uvloop                    0.16.0                   pypi_0    pypi
watchgod                  0.6                      pypi_0    pypi
wcwidth                   0.2.5                      py_0  
webencodings              0.5.1                    pypi_0    pypi
websockets                8.1                      pypi_0    pypi
werkzeug                  2.0.1                    pypi_0    pypi
wheel                     0.36.2             pyhd3eb1b0_0  
whitenoise                5.3.0                    pypi_0    pypi
widgetsnbextension        3.5.1                    pypi_0    pypi
wrapt                     1.12.1                   pypi_0    pypi
xmltodict                 0.12.0                   pypi_0    pypi
xz                        5.2.5                h1de35cc_0  
zeromq                    4.3.3                hb1e8313_3  
zipp                      3.4.0                    pypi_0    pypi
zlib                      1.2.11               h1de35cc_3  
